<!DOCTYPE html>
<html>
{% block meta %}{% endblock %}
<head>
    <title>{% block title %}{% endblock %}</title>
{% block header %}{% endblock %}

 <!-- SMS Poll App -->
 <!-- Guido Dassori -->
 <!-- 06/05/2014 -->
 <!-- Fatto in due ore ...altro che India. --> 
 <!-- Ciao belli -->

    <style type="text/css">
        .votazioni {
        	margin:0px;padding:0px;
        	width:100%;
        	box-shadow: 10px 10px 5px #888888;
        	border:1px solid #000000;

        	-moz-border-radius-bottomleft:0px;
        	-webkit-border-bottom-left-radius:0px;
        	border-bottom-left-radius:0px;

        	-moz-border-radius-bottomright:0px;
        	-webkit-border-bottom-right-radius:0px;
        	border-bottom-right-radius:0px;

        	-moz-border-radius-topright:0px;
        	-webkit-border-top-right-radius:0px;
        	border-top-right-radius:0px;

        	-moz-border-radius-topleft:0px;
        	-webkit-border-top-left-radius:0px;
        	border-top-left-radius:0px;
        }.votazioni table{
            border-collapse: collapse;
                border-spacing: 0;
        	width:100%;
        	height:100%;
        	margin:0px;padding:0px;
        }.votazioni tr:last-child td:last-child {
        	-moz-border-radius-bottomright:0px;
        	-webkit-border-bottom-right-radius:0px;
        	border-bottom-right-radius:0px;
        }
        .votazioni table tr:first-child td:first-child {
        	-moz-border-radius-topleft:0px;
        	-webkit-border-top-left-radius:0px;
        	border-top-left-radius:0px;
        }
        .votazioni table tr:first-child td:last-child {
        	-moz-border-radius-topright:0px;
        	-webkit-border-top-right-radius:0px;
        	border-top-right-radius:0px;
        }.votazioni tr:last-child td:first-child{
        	-moz-border-radius-bottomleft:0px;
        	-webkit-border-bottom-left-radius:0px;
        	border-bottom-left-radius:0px;
        }.votazioni tr:hover td{

        }
        .votazioni tr:nth-child(odd){ background-color:#c1c1c1; }
        .votazioni tr:nth-child(even)    { background-color:#ffffff; }.votazioni td{
        	vertical-align:middle;


        	border:1px solid #000000;
        	border-width:0px 1px 1px 0px;
        	text-align:left;
        	padding:7px;
        	font-size:14px;
        	font-family:Arial;
        	font-weight:normal;
        	color:#000000;
        }.votazioni tr:last-child td{
        	border-width:0px 1px 0px 0px;
        }.votazioni tr td:last-child{
        	border-width:0px 0px 1px 0px;
        }.votazioni tr:last-child td:last-child{
        	border-width:0px 0px 0px 0px;
        }
        .votazioni tr:first-child td{
        		background:-o-linear-gradient(bottom, #349999 5%, #02332d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #349999), color-stop(1, #02332d) );
        	background:-moz-linear-gradient( center top, #349999 5%, #02332d 100% );
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#349999", endColorstr="#02332d");	background: -o-linear-gradient(top,#349999,02332d);

        	background-color:#349999;
        	border:0px solid #000000;
        	text-align:center;
        	border-width:0px 0px 1px 1px;
        	font-size:12px;
        	font-family:Arial;
        	font-weight:bold;
        	color:#ffffff;
        }
        .votazioni tr:first-child:hover td{
        	background:-o-linear-gradient(bottom, #349999 5%, #02332d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #349999), color-stop(1, #02332d) );
        	background:-moz-linear-gradient( center top, #349999 5%, #02332d 100% );
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#349999", endColorstr="#02332d");	background: -o-linear-gradient(top,#349999,02332d);

        	background-color:#349999;
        }
        .votazioni tr:first-child td:first-child{
        	border-width:0px 0px 1px 0px;
        }
        .votazioni tr:first-child td:last-child{
        	border-width:0px 0px 1px 1px;
        }
    </style>

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
