{% extends "base.html" %}
{% block meta %}
<meta http-equiv=refresh content="30; url=/iovoto/poll">
{% endblock %}
{% block content %}

    <table class="votazioni">
        <tr>
            <td>Nome</td>
            <td>Codice</td>
            <td>Voti</td>
            <td>%</td>
        </tr>
        {% for cod, item in parties.items %}
            <tr>
               <td>{{ item.0 }}</td>
               <td>{{ cod }}</td>
               <td>{{ item.1 }}</td>
               <td>{{ item.2 }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Totale voti</strong></td>
            <td></td>
            <td>{{ total_votes }}</td>
            <td></td>
        </tr>
    </table>
{% endblock %}
